CREATE TABLE stocks (
    ticker TEXT,
    date DATE,
    open REAL,
    high REAL,
    low REAL,
    close REAL,
    volume INTEGER,
    dividends REAL,
    stock_splits INTEGER,
    PRIMARY KEY (ticker, date)
);
CREATE TABLE macro (
    indicator TEXT NOT NULL,
    start_date DATE,
    announcement_date DATE NOT NULL,
    value REAL,
    PRIMARY KEY (indicator, start_date, announcement_date)
);